#search {
	height: 50px;
	display: inline;
	border: 1px solid black;
}

#search img {
	width: 100px;
}



#video {
	width: 920px;
	height: 685px;
	border: 1px solid black;
	float: left;
	background-color: #EEEEEE;
}



#thumbnails-sidebar {
	width: 430px;
	height: 685px;
	border: 1px solid black;
	float: right;
	background-color: #DDDDDD;
}

.thumbnail {
	width: 415px;
	height: 100px;
	display: block;
}

.thumbnail img {
	width: 120px;
	float: left;
}

.thumbnail ul {
	float: right;
}





