body {
	background-color: #F1F1F1;
}


#search {
	height: 50px;
	width: 100%;
	border: 1px solid black;
	position: fixed;
	background-color: white;
}

#search img {
	width: 100px;
	display: inline;
}

#search input {
	position: absolute;
	left: 230px;
	top: 10px;
	width: 570px;
	height: 25px;
	border-radius: 0;
}

#search button {
	float: right;
	margin: 10px;
	height: 25px;
	border-radius: 0;
}

#signin {
	background-color: #126db3;
	color: white;
}



#video-area {
	margin-top: 60px;
	margin-left: 45px;
	width: 860px;
	height: 685px;
	float: left;
	background-color: #f1f1f1;
}

#video-title {
  padding: 10px 5px 10px;
  margin: 5px;
  background-color: white;
}

#video-title h1 {
  font-size: 20px;
  margin: 5px;
}

#video-info {
	padding: 20px 5px 20px;
	margin: 5px;
	background-color: white;
}

#video-info h3 {
  font-style: bold;
  margin: 5px;
}

#video-info p {
	color: #444444;
}



#thumbnails-sidebar {
	margin-top: 60px;
	margin-right: 10px;
	width: 430px;
	height: 685px;
	float: right;
	background-color: white;
}

.thumbnail {
	width: 415px;
	height: 100px;
	display: block;
}

.thumbnail img {
	width: 120px;
	float: left;
	margin-right: 5px;
}


.thumbnail li {
	margin-bottom: 5px;
	color: gray;
	font-size: 10px;
}

.thumbnail li h4 {
  color: black;
  font-size: 14px;

}






